.media-tank {
  background: black;
  padding-top: 5%;
  color: white;
}

.media-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.media-item {
  background-color: #090808;
  padding: 10px;
}

.media-item img,
.media-item video {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .media-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  position: relative;
  max-width: 800px;
  border: 2px solid white;
  width: 90%;
  background-color: rgb(25, 23, 23);
  padding: 20px;
}

.popup-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

@media screen and (max-width: 768px) {
  .popup-content {
    max-width: 90%;
  }
}

.media-details {
  color: white;
}

.details-img {
  width: 50%;
  height: 10%;
}
